/**
 * @description:
 *		Global RTL styles
 *		You can use this file to change your style automatically from ltr to rtl.
 *
 * @rules:
 *		{see https://rtlcss.com/learn/}
 *
 * @example:
 *		1) @import 'bootstrap';
 *			this will import bootstrap styles with rtl support.
 *			.ps-3 { padding-left: 1rem!important;} ==>  .ps-3 { padding-right: 1rem!important;}
 *			.text-end {text-align: right;} ==> this will change the text-align to left in rtl mode.
 *
*/
